Backup
[{"createdAt":"2025-07-05T05:27:31.126Z","updatedAt":"2025-11-04T02:02:50.298Z","id":"2wGj4UwRo2mb42YJ","name":"Backup","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2880,624],"id":"410842fa-47b9-48ca-9c78-a142804dea9d","name":"When clicking ‘Test workflow’"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-2688,528],"id":"e4e05a0f-961b-4db0-b068-2ea5a8e8b7ce","name":"n8n","credentials":{"n8nApi":{"id":"kAqvS1atuC8GNau2","name":"n8n account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a8195660-b59a-440c-8114-ff6377a536b0","leftValue":"={{ $json['N8N Url'] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1904,544],"id":"ff342903-088d-4d45-8aab-c8107f5004cd","name":"Exist or not in Sheet"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"23044feb-1e63-4888-994c-f2a2248551fc","leftValue":"={{ $json['Last modified'] }}","rightValue":"={{ $('n8n').item.json.updatedAt }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1712,304],"id":"7104c86a-3437-4360-a100-a4bee194f54b","name":"updated or not"},{"parameters":{"assignments":{"assignments":[{"id":"5d25bc78-5383-43fc-997a-6f110714385f","name":"ok","value":"okay","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,-16],"id":"aefbe939-f587-4592-af7f-3bd04890bf42","name":"Edit Fields"},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $('Loop Over Items').item.json.id }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-1712,752],"id":"65224d96-3e3c-4e75-8a3f-04074e4f37b0","name":"n8n1","credentials":{"n8nApi":{"id":"kAqvS1atuC8GNau2","name":"n8n account"}}},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $('updated or not').item.json['N8N Url'] }}","mode":"url"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-1280,400],"id":"91b41a32-a21b-40f9-99e9-e838abb9e3d1","name":"n8n2","credentials":{"n8nApi":{"id":"kAqvS1atuC8GNau2","name":"n8n account"}}},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2272,544],"id":"9d3eb968-1108-48e9-9f56-0f4b9d20bf17","name":"Wait","webhookId":"4e6da3b8-0f5e-418c-9d2d-12d53e17bbcf"},{"parameters":{"rule":{"interval":[{"triggerAtHour":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2880,448],"id":"2c364e53-e0a9-4e31-994e-9040e72708e5","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"34775986-2867-4e53-b4b3-f6392d652107","name":"github","value":"={{ $json.content.html_url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-864,624],"id":"5146945f-601b-45ff-ae32-28ef34eea507","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"b187d35a-9ae3-46c9-bb08-bd3e07d9d0b8","name":"drive_id","value":"={{ $json.id }}","type":"string"},{"id":"09e140c2-9de6-4ede-b9e0-15689f941e1f","name":"createdAt","value":"={{ $('Code').item.json.createdAt }}","type":"string"},{"id":"eb108deb-01c6-4d70-9448-c093867d42f1","name":"updatedAt","value":"={{ $('Code').item.json.updatedAt }}","type":"string"},{"id":"5dffcc1f-5136-4ae0-826b-b8d73dc56e18","name":"n8n_id","value":"={{ $('Code').item.json.id }}","type":"string"},{"id":"e76b5251-6955-4f7a-a986-35dae2912e2e","name":"name","value":"={{ $('Code').item.json.name }}","type":"string"},{"id":"c537c5d0-8d23-41a9-975b-81296ac030a6","name":"tag","value":"={{ $('Code').item.json.shared[0].project.projectRelations[0].user.personalizationAnswers.reportedSource }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-880,896],"id":"8fba71aa-9206-4350-a1a1-dfd5bf932121","name":"Edit Fields2"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-656,736],"id":"d181dbf6-df99-42ec-9802-2d56e93c4ff2","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"b7c6c7d4-ac5d-4964-9a33-d792393ef210","name":"github","value":"={{ $json.data[0].github }}","type":"string"},{"id":"b2c60222-d8ef-4753-b4a6-97ee1d55b6ab","name":"data[1].drive_id","value":"={{ $json.data[1].drive_id }}","type":"string"},{"id":"1c699d7d-6c69-4b92-a664-084513dfc879","name":"data[1].createdAt","value":"={{ $json.data[1].createdAt }}","type":"string"},{"id":"69b38d9f-7ddd-40ef-a391-ce44cb480055","name":"data[1].updatedAt","value":"={{ $json.data[1].updatedAt }}","type":"string"},{"id":"6000cea5-f98c-4d75-9d38-e09d104bafb2","name":"data[1].n8n_id","value":"={{ $json.data[1].n8n_id }}","type":"string"},{"id":"f7d93c15-f265-4ce5-96ff-1bdc1818c166","name":"data[1].name","value":"={{ $json.data[1].name }}","type":"string"},{"id":"09d3b016-c290-4b09-aba1-5f6db4fd61a7","name":"data[1].tag","value":"={{ $json.data[1].tag }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-272,736],"id":"46506e54-5562-42fe-9720-5c335fc903b2","name":"Edit Fields3"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-464,736],"id":"ca2abe92-8476-4a23-b1a0-fcddd52d5761","name":"Aggregate"},{"parameters":{"documentId":{"__rl":true,"value":"1eiKcnWhkZmTJbhvvtLHhp9D3CCtTW3_awRTBTNy2ByQ","mode":"list","cachedResultName":"Backups","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eiKcnWhkZmTJbhvvtLHhp9D3CCtTW3_awRTBTNy2ByQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eiKcnWhkZmTJbhvvtLHhp9D3CCtTW3_awRTBTNy2ByQ/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Title","lookupValue":"={{ $json.name }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2080,544],"id":"918307d8-ef99-44e3-b621-3a58dec98376","name":"Get row(s) in sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"XkUcr0YLOP2CkVg1","name":"Google Sheets account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"=https://github.com/Peter-Aistralis/","mode":"url"},"repository":{"__rl":true,"value":"={{ $('n8n1').item.json.tags[0].name }}","mode":"name"},"filePath":"={{ $('n8n1').item.json.name }}","binaryData":true,"commitMessage":"first commit"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-1312,624],"id":"d2a47da9-b360-45c5-a73d-8ab54a706a60","name":"Create a file","webhookId":"16e5f2e5-4072-4f0a-b013-a1d2b5e9b390","credentials":{"githubApi":{"id":"RTpLjX5nT9JPuB8K","name":"GitHub account"}}},{"parameters":{"name":"={{ $json.name }}","driveId":{"__rl":true,"value":"1HmBSAtGgcZLSbO2BxikQbvbzAcZzY7u9","mode":"id"},"folderId":{"__rl":true,"value":"https://drive.google.com/drive/u/0/folders/1SDMuJ-oFxW1laCNTpvFMb2t5Gd2ofLhnhttps://drive.google.com/drive/u/0/folders/1SDMuJ-oFxW1laCNTpvFMb2t5Gd2ofLhn","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1312,896],"id":"2348b510-eff4-44e7-88e6-1991ce04183c","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"VcFFZkWlXOO43tdB","name":"Google Drive account"}}},{"parameters":{"name":"={{ $('n8n2').item.json.name }}","driveId":{"__rl":true,"value":"1HmBSAtGgcZLSbO2BxikQbvbzAcZzY7u9","mode":"id"},"folderId":{"__rl":true,"value":"https://drive.google.com/drive/u/0/folders/1SDMuJ-oFxW1laCNTpvFMb2t5Gd2ofLhnhttps://drive.google.com/drive/u/0/folders/1SDMuJ-oFxW1laCNTpvFMb2t5Gd2ofLhn","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-656,464],"id":"5b5621c8-7058-43ea-83ca-dc6d42904c7b","name":"Upload file1","credentials":{"googleDriveOAuth2Api":{"id":"VcFFZkWlXOO43tdB","name":"Google Drive account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/Peter-Aistralis","mode":"url"},"repository":{"__rl":true,"value":"={{ $('Exist or not in Sheet').first()\n.json.Tag }}","mode":"name"},"filePath":"={{ $('n8n2').first().json.name }}","binaryData":true,"commitMessage":"Change commit by Peter"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-656,288],"id":"b5a7ae4c-dbea-4c17-81eb-e8ed80f18e99","name":"Edit a file","webhookId":"6d34e561-d4d8-45ad-bad5-b38b775c223d","credentials":{"githubApi":{"id":"RTpLjX5nT9JPuB8K","name":"GitHub account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1eiKcnWhkZmTJbhvvtLHhp9D3CCtTW3_awRTBTNy2ByQ","mode":"list","cachedResultName":"Backups","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eiKcnWhkZmTJbhvvtLHhp9D3CCtTW3_awRTBTNy2ByQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eiKcnWhkZmTJbhvvtLHhp9D3CCtTW3_awRTBTNy2ByQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Title":"={{ $('n8n2').item.json.name }}","Last modified":"={{ $('n8n2').item.json.updatedAt }}","Shared Url":"=https://drive.google.com/file/d/{{ $json.id }}"},"matchingColumns":["Title"],"schema":[{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Tag","displayName":"Tag","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date Created","displayName":"Date Created","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last modified","displayName":"Last modified","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"N8N Url","displayName":"N8N Url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Github Url","displayName":"Github Url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Shared Url","displayName":"Shared Url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-272,464],"id":"b2ec1879-95bc-4cf1-8683-26154ec6a3cb","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"XkUcr0YLOP2CkVg1","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1eiKcnWhkZmTJbhvvtLHhp9D3CCtTW3_awRTBTNy2ByQ","mode":"list","cachedResultName":"Backups","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eiKcnWhkZmTJbhvvtLHhp9D3CCtTW3_awRTBTNy2ByQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eiKcnWhkZmTJbhvvtLHhp9D3CCtTW3_awRTBTNy2ByQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Title":"={{ $json.data[1].name }}","Date Created":"={{ $json.data[1].createdAt }}","Last modified":"={{ $json.data[1].updatedAt }}","N8N Url":"=https://workflows.zeriobox.com/workflow/{{ $json.data[1].n8n_id }}","Tag":"={{ $('n8n1').item.json.tags[0].name }}","Github Url":"={{ $json.github }}","Shared Url":"=https://drive.google.com/file/d/{{ $json.data[1].drive_id }}"},"matchingColumns":[],"schema":[{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tag","displayName":"Tag","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date Created","displayName":"Date Created","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last modified","displayName":"Last modified","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"N8N Url","displayName":"N8N Url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Github Url","displayName":"Github Url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Shared Url","displayName":"Shared Url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-96,736],"id":"ea2ad5ce-3f57-469f-8611-410d2dcf2ab6","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"XkUcr0YLOP2CkVg1","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2496,528],"id":"c022fa0b-74af-42af-8ac8-9a764f58099a","name":"Loop Over Items"},{"parameters":{"amount":0.5},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-464,464],"id":"727d3344-fe98-4318-a766-bba969fe651e","name":"Wait1","webhookId":"801c9260-f7a8-4b73-afba-6a8c61e280a1"},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"value":"={{ $json['Shared Url'] }}","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1504,400],"id":"5b0ee01f-ee0c-4571-9ec0-053d70bf8270","name":"Delete a file","credentials":{"googleDriveOAuth2Api":{"id":"VcFFZkWlXOO43tdB","name":"Google Drive account"}}},{"parameters":{"operation":"toJson","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-864,288],"id":"d483a1ed-14df-462d-86a6-2a19a2cbc4b4","name":"Convert to File"},{"parameters":{"jsCode":"const jsonString = JSON.stringify(items[0].json, null, 2); // keeps indentation\nconst dataBuffer = Buffer.from(jsonString);\n\nreturn [\n  {\n    binary: {\n      data: {\n        data: dataBuffer.toString('base64'),\n        fileName: 'workflow.json',\n        mimeType: 'application/json',\n      },\n    },\n    json: {}, // optional, can include metadata\n  },\n];\n"},"id":"07160fae-5ca2-41ff-b9b3-bb9f94a85bb7","name":"Code6","type":"n8n-nodes-base.code","position":[-2192,-32],"typeVersion":2},{"parameters":{"operation":"toJson","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1520,624],"id":"e767c399-4421-4979-8d87-33129a19fa8d","name":"Convert to File2"},{"parameters":{"operation":"toJson","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1504,896],"id":"37f9c65d-c5dd-46b4-a68b-cc4e00097e85","name":"Convert to File3"},{"parameters":{"jsCode":"return items.map(item => {\n  const jsonData = JSON.stringify(item.json);\n  const binaryData = Buffer.from(jsonData).toString('base64');\n  item.binary = {\n    data: {\n      data: binaryData,\n      mimeType: 'application/json',\n      fileName: 'data.json'\n    }\n  };\n  return item;\n});"},"id":"b49f7804-a6c8-4283-bdda-62e0a5892b42","name":"Code2","type":"n8n-nodes-base.code","position":[-2096,272],"typeVersion":2},{"parameters":{"jsCode":"return items.map(item => {\n  const jsonData = JSON.stringify(item.json);\n  const binaryData = Buffer.from(jsonData).toString('base64');\n  item.binary = {\n    data: {\n      data: binaryData,\n      mimeType: 'application/json',\n      fileName: 'data.json'\n    }\n  };\n  return item;\n});"},"id":"c244ec7f-7da0-4ce2-afd7-5e72dad25eb2","name":"Code","type":"n8n-nodes-base.code","position":[-1072,528],"typeVersion":2}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"n8n","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Exist or not in Sheet":{"main":[[{"node":"updated or not","type":"main","index":0}],[{"node":"n8n1","type":"main","index":0}]]},"updated or not":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Delete a file","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"n8n1":{"main":[[{"node":"Convert to File2","type":"main","index":0},{"node":"Convert to File3","type":"main","index":0}]]},"n8n2":{"main":[[{"node":"Convert to File","type":"main","index":0},{"node":"Code","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Exist or not in Sheet","type":"main","index":0}]]},"Create a file":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Upload file1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Edit a file":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Wait","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Delete a file":{"main":[[{"node":"n8n2","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Edit a file","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"Create a file","type":"main","index":0}]]},"Convert to File3":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Code":{"main":[[{"node":"Upload file1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c92d89c6-b6f7-400b-ad9a-72bd2a5c9ecd","triggerCount":1,"shared":[{"createdAt":"2025-07-05T05:27:31.126Z","updatedAt":"2025-07-05T05:27:31.126Z","role":"workflow:owner","workflowId":"2wGj4UwRo2mb42YJ","projectId":"2KiFcKNLK1JyaklJ","project":{"createdAt":"2025-07-05T04:34:00.267Z","updatedAt":"2025-07-05T04:35:03.731Z","id":"2KiFcKNLK1JyaklJ","name":"peter aistralis <peterjawel@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-07-05T04:34:00.267Z","updatedAt":"2025-07-05T04:34:00.267Z","role":"project:personalOwner","userId":"8790342e-b65e-4ef9-99ec-48a531aa0094","projectId":"2KiFcKNLK1JyaklJ","user":{"createdAt":"2025-07-05T04:33:38.764Z","updatedAt":"2025-11-04T00:00:27.119Z","id":"8790342e-b65e-4ef9-99ec-48a531aa0094","email":"peterjawel@gmail.com","firstName":"peter","lastName":"aistralis","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-05T04:35:25.871Z","personalization_survey_n8n_version":"1.100.1","companySize":"<20","companyType":"saas","role":"business-owner","reportedSource":"youtube"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"FAkXhJwuAslD2JDu","userActivatedAt":1751716484498,"npsSurvey":{"responded":true,"lastShownAt":1753381963375}},"role":"global:owner","disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-03","isPending":false}}]}}],"tags":[{"createdAt":"2025-07-05T05:27:25.021Z","updatedAt":"2025-07-05T05:27:25.021Z","id":"94UYKbs3nzwYCJqO","name":"YouTube"}]}]