Incoming_PFA
{
  "updatedAt": "2025-11-26T16:49:02.025Z",
  "createdAt": "2025-11-14T10:13:44.431Z",
  "id": "IgPl6godZmp2eO6t",
  "name": "Incoming_PFA",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -624,
        -368
      ],
      "id": "9ff434c6-c179-4802-a21f-55f1df2fd9e9",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').item.json.query }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a strict accountant AI. You receive either:\n- a natural-language description of expenses, or\n- a receipt text.\n\nYour ONLY task is to produce a JSON object that exactly matches this schema:\n\n{\n  \"date\": \"string\",\n  \"description\": \"string\",\n  \"has_receipt\": \"boolean\",\n  \"payment_method\": \"string\",\n  \"items\": [\n    {\n      \"item_name\": \"string or null\",\n      \"quantity\": \"number or null\",\n      \"unit_price\": \"string or null\",\n      \"total_price\": \"string or null\",\n      \"location\": \"string or null\"\n    }\n  ]\n}\n\nCRITICAL RULES (follow exactly):\n\n1. Output **only** a JSON object. No explanations. No markdown. No commentary.\n2. All keys must exist. Never omit a required field.\n3. Use **double quotes** for all strings.\n4. For missing values, use **null** (not \"null\").\n5. For \"quantity\", output a **number**, never a string.\n6. \"date\":\n   - If the text contains a date → extract it as \"YYYY-MM-DD\".\n   - Otherwise → use {{$now}}.\n7. \"description\": a short human description of the expense.\n8. \"has_receipt\": true only if the text explicitly mentions a receipt.\n9. \"payment_method\":\n   - If mentioned (cash/card/debit/credit/etc), use it.\n   - Otherwise: \"cash\".\n10. \"items\": always output an array.\n11. Extract every item mentioned in the text:\n    - Drinks, food, services, activities.\n12. If an item has no price → unit_price = null, total_price = null.\n13. If the place is mentioned (e.g., Bali Social Club) → set \"location\" to that string.\n14. If the text describes an activity (e.g., “played padel”) → create a service item:\n    {\n      \"item_name\": \"Padel Session Fee\",\n      \"quantity\": 1,\n      \"unit_price\": null,\n      \"total_price\": null,\n      \"location\": \"<place or null>\"\n    }\n\nYour output must start with `{` and end with `}`. No text before or after.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -416,
        -144
      ],
      "id": "c5fa1fbc-d983-4d30-8f46-b77ca5953715",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -528,
        80
      ],
      "id": "00d41223-39c7-4a92-8097-35c3ea700c75",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "TVzP9p8nOtsqZFLa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"name\": \"Expense\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"date\": { \"type\": \"string\" },\n    \"description\": { \"type\": \"string\" },\n    \"has_receipt\": { \"type\": \"boolean\" },\n    \"payment_method\": { \"type\": \"string\" },\n    \"items\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"item_name\": { \"type\": [\"string\", \"null\"] },\n          \"quantity\": { \"type\": [\"number\", \"null\"] },\n          \"unit_price\": { \"type\": [\"string\", \"null\"] },\n          \"total_price\": { \"type\": [\"string\", \"null\"] },\n          \"location\": { \"type\": [\"string\", \"null\"] }\n        },\n        \"required\": [\n          \"item_name\",\n          \"quantity\",\n          \"unit_price\",\n          \"total_price\",\n          \"location\"\n        ]\n      }\n    }\n  },\n  \"required\": [\"date\", \"description\", \"has_receipt\", \"payment_method\", \"items\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -208,
        32
      ],
      "id": "ac92a82a-5607-48ef-969f-706ebb149dff",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "item_categories",
        "filters": {
          "conditions": [
            {
              "keyName": "item_name",
              "condition": "eq",
              "keyValue": "={{ $json.item_name.toLowerCase() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        960,
        -128
      ],
      "id": "cfe30351-a0ca-4331-a6bc-96ace0b482d7",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "KZ6ufBeRCXc7olwi",
          "name": "Supabase ZerioBox"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -96,
        -144
      ],
      "id": "7385aee8-1976-4e93-924f-9c41184f03c2",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        112,
        -144
      ],
      "id": "ed288b74-49f9-4bca-89ca-1834ac735573",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "knowledge_base",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "location",
              "condition": "eq",
              "keyValue": "={{ $('Loop Over Items').item.json.location.toLowerCase() }}"
            },
            {
              "keyName": "item_name",
              "condition": "eq",
              "keyValue": "={{ $json.item_name.toLowerCase() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        336,
        -80
      ],
      "id": "cd18cada-de24-45ea-a213-109f620c7907",
      "name": "Get many rows1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "KZ6ufBeRCXc7olwi",
          "name": "Supabase ZerioBox"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2feeff6d-adc8-4529-bab4-078a39d18875",
              "name": "total_price",
              "value": "={{ (parseFloat($('Get many rows1').item.json.unit_price) || 0) * (parseFloat($('Loop Over Items').item.json.quantity) || 0) }}\n",
              "type": "number"
            },
            {
              "id": "c340caa5-a9e4-482e-8992-3e9d5035dca5",
              "name": "item_name",
              "value": "={{ $json.item_name }}",
              "type": "string"
            },
            {
              "id": "d3c80b5f-c334-4d9f-b2fc-64bef76105ff",
              "name": "subcategory",
              "value": "={{ $json.subcategory }}",
              "type": "string"
            },
            {
              "id": "ede17fca-9b71-4c1f-a7b3-51f403e4ad93",
              "name": "category_id",
              "value": "={{ $json.category_id }}",
              "type": "string"
            },
            {
              "id": "ebe3e411-5961-42dc-bd38-326a5340a2fe",
              "name": "location",
              "value": "={{ $('Get many rows1').item.json.location }}",
              "type": "string"
            },
            {
              "id": "7fa2dce0-07cc-4428-993b-ee7ff91c9f8f",
              "name": "item_name",
              "value": "={{ $('Get many rows1').item.json.item_name }}",
              "type": "string"
            },
            {
              "id": "40147e72-3e39-46f2-b8f2-d63a77b7855d",
              "name": "unit_price",
              "value": "={{ $('Get many rows1').item.json.unit_price }}",
              "type": "string"
            },
            {
              "id": "b40f43a2-57bd-4422-a3bc-060a7f5265ee",
              "name": "quantity",
              "value": "={{ $('Loop Over Items').item.json.quantity }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        -128
      ],
      "id": "1ba34314-8597-41c9-995d-5651cc8c9c18",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        336,
        -400
      ],
      "id": "6e8d56cd-1c00-42a7-8ac5-2192709dbc3a",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        544,
        -400
      ],
      "id": "f65a050a-5c91-4baa-a018-aa80623b5a18",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "sum",
              "field": "total_price"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        800,
        -400
      ],
      "id": "583f9b02-bd23-453f-abce-4e260fea9adb",
      "name": "Summarize"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5935f8a5-a0be-45b8-90d0-57edcb9c5c7e",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        544,
        -80
      ],
      "id": "8e65a400-eba8-49a9-aa24-6e844948a402",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "93266b52-1925-4a74-802c-527f5fe49288",
              "name": "ask",
              "value": "=how much did you pay for one {{ $('Loop Over Items').item.json.item_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        304
      ],
      "id": "ba5c1dfb-109f-420c-bfa0-1b30e407ef6f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "da7a7b83-698c-46c3-a45e-cf929d3316b2",
              "leftValue": "={{ $('Loop Over Items').item.json.unit_price }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        672,
        176
      ],
      "id": "48e3910d-9a8f-413c-b4a2-4e60c13dcad8",
      "name": "If1"
    },
    {
      "parameters": {
        "tableId": "knowledge_base",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "location",
              "fieldValue": "={{ $('Loop Over Items').item.json.location.toLowerCase() }}"
            },
            {
              "fieldId": "item_name",
              "fieldValue": "={{ $('Loop Over Items').item.json.item_name.toLowerCase() }}"
            },
            {
              "fieldId": "unit_price",
              "fieldValue": "={{ $('Loop Over Items').item.json.unit_price || $('Loop Over Items').item.json.total_price }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "={{ $json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1488,
        -224
      ],
      "id": "67ac37e2-55cd-4f35-9ea8-1962c5c37e52",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "KZ6ufBeRCXc7olwi",
          "name": "Supabase ZerioBox"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Loop Over Items').item.json.item_name }}",
        "options": {
          "systemMessage": "You are a helpful assistant and you have to classify what the item is in.\nThe options are: drinks, sports, tobacco \nOnly output the option you have found, nothing else"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        800,
        80
      ],
      "id": "148a3575-3f17-4741-8034-f81234bf3b2e",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1104,
        256
      ],
      "id": "dacfe5e5-874d-4aec-9557-eb8398badae9",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "TVzP9p8nOtsqZFLa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "item_categories",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "item_name",
              "fieldValue": "={{ $('Loop Over Items').item.json.item_name }}"
            },
            {
              "fieldId": "subcategory",
              "fieldValue": "={{ $json.name }}"
            },
            {
              "fieldId": "category_id",
              "fieldValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1632,
        80
      ],
      "id": "c291a9c0-e9a3-4758-a467-abced591bf99",
      "name": "Create a row1",
      "credentials": {
        "supabaseApi": {
          "id": "KZ6ufBeRCXc7olwi",
          "name": "Supabase ZerioBox"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "categories",
        "filters": {
          "conditions": [
            {
              "keyName": "name",
              "keyValue": "={{ $('AI Agent1').item.json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1440,
        80
      ],
      "id": "08e35bd4-17df-45c5-88e2-5ac2f8dc169d",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "KZ6ufBeRCXc7olwi",
          "name": "Supabase ZerioBox"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2feeff6d-adc8-4529-bab4-078a39d18875",
              "name": "total_price",
              "value": "={{ parseFloat($('Loop Over Items').item.json.unit_price || 0) * (parseFloat($('Loop Over Items').item.json.quantity) || 0) }}\n",
              "type": "number"
            },
            {
              "id": "c340caa5-a9e4-482e-8992-3e9d5035dca5",
              "name": "item_name",
              "value": "={{ $json.item_name }}",
              "type": "string"
            },
            {
              "id": "d3c80b5f-c334-4d9f-b2fc-64bef76105ff",
              "name": "subcategory",
              "value": "={{ $json.subcategory }}",
              "type": "string"
            },
            {
              "id": "ede17fca-9b71-4c1f-a7b3-51f403e4ad93",
              "name": "category_id",
              "value": "={{ $json.category_id }}",
              "type": "string"
            },
            {
              "id": "ebe3e411-5961-42dc-bd38-326a5340a2fe",
              "name": "location",
              "value": "={{ $('Create a row').item.json.location }}",
              "type": "string"
            },
            {
              "id": "7fa2dce0-07cc-4428-993b-ee7ff91c9f8f",
              "name": "item_name",
              "value": "={{ $json.item_name }}",
              "type": "string"
            },
            {
              "id": "40147e72-3e39-46f2-b8f2-d63a77b7855d",
              "name": "unit_price",
              "value": "={{ $('Create a row').item.json.unit_price }}",
              "type": "string"
            },
            {
              "id": "b40f43a2-57bd-4422-a3bc-060a7f5265ee",
              "name": "quantity",
              "value": "={{ $('Loop Over Items').item.json.quantity }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1328,
        448
      ],
      "id": "f77b9e52-f271-4b29-927b-837cdf1c9873",
      "name": "Edit Fields2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        32,
        -560
      ],
      "id": "8646e0fb-cdf2-4975-87d0-6bf684d6648e",
      "name": "Merge"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "123456"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -432,
        64
      ],
      "id": "dcafdb60-8846-47b7-9332-ec780e5fa8f0",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2a62aa4b-683d-4d9d-a27a-50c2a5aac8f8",
              "name": "=answer",
              "value": "=your entry for {{ $('When Executed by Another Workflow').item.json.query }} has been entered in the db\ntotal price was: {{ $json.sum_total_price }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        -400
      ],
      "id": "7ad7ddfd-3f52-4d58-a68f-5a7ae115d57e",
      "name": "Edit Fields3"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get many rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Create a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        []
      ]
    },
    "Merge": {
      "main": [
        []
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "I did buy tennis shoes in Beachwalk for 11111111"
        }
      }
    ]
  },
  "versionId": "3c9ae0b8-d2f3-48ad-bb79-b7a6b182c1d3",
  "versionCounter": 114,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-14T10:13:44.431Z",
      "createdAt": "2025-11-14T10:13:44.431Z",
      "role": "workflow:owner",
      "workflowId": "IgPl6godZmp2eO6t",
      "projectId": "2KiFcKNLK1JyaklJ",
      "project": {
        "updatedAt": "2025-07-05T04:35:03.731Z",
        "createdAt": "2025-07-05T04:34:00.267Z",
        "id": "2KiFcKNLK1JyaklJ",
        "name": "peter aistralis <peterjawel@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-07-05T04:34:00.267Z",
            "createdAt": "2025-07-05T04:34:00.267Z",
            "userId": "8790342e-b65e-4ef9-99ec-48a531aa0094",
            "projectId": "2KiFcKNLK1JyaklJ",
            "user": {
              "updatedAt": "2025-11-27T00:00:39.309Z",
              "createdAt": "2025-07-05T04:33:38.764Z",
              "id": "8790342e-b65e-4ef9-99ec-48a531aa0094",
              "email": "peterjawel@gmail.com",
              "firstName": "peter",
              "lastName": "aistralis",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-07-05T04:35:25.871Z",
                "personalization_survey_n8n_version": "1.100.1",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "FAkXhJwuAslD2JDu",
                "userActivatedAt": 1751716484498,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753381963375
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-07-05T05:27:25.021Z",
      "createdAt": "2025-07-05T05:27:25.021Z",
      "id": "94UYKbs3nzwYCJqO",
      "name": "YouTube"
    }
  ]
}