My workflow 2
{
  "updatedAt": "2025-11-25T08:05:43.797Z",
  "createdAt": "2025-11-25T03:47:13.387Z",
  "id": "ob0wQC6ogWLN5iHi",
  "name": "My workflow 2",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "https://catfact.ninja/fact-new",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        256,
        16
      ],
      "id": "b450a9fe-e6b8-473d-b2e7-df46feb9b6ea",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        32,
        16
      ],
      "id": "29766c9a-2713-4f18-93ba-f2316a5abf6f",
      "name": "Telegram Trigger",
      "webhookId": "7fe571a5-2da9-4faf-aeba-66ccb021982a",
      "credentials": {
        "telegramApi": {
          "id": "P9DL7o9ahJ273F89",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.fact }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        16
      ],
      "id": "fe68ba51-2c48-4418-8899-cd8fa9f50b54",
      "name": "Send a text message",
      "webhookId": "7aa4afcc-c075-4fe1-ac34-a6e3c9373751",
      "credentials": {
        "telegramApi": {
          "id": "P9DL7o9ahJ273F89",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "r1hEZ8InOj91e2BD"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 181780364,
          "message": {
            "message_id": 2296,
            "from": {
              "id": 2034253630,
              "is_bot": false,
              "first_name": "Pisto",
              "last_name": "Pisto",
              "username": "peter_aurelius",
              "language_code": "en"
            },
            "chat": {
              "id": 2034253630,
              "first_name": "Pisto",
              "last_name": "Pisto",
              "username": "peter_aurelius",
              "type": "private"
            },
            "date": 1763969753,
            "text": "dddd"
          }
        }
      }
    ]
  },
  "versionId": "aa055803-e619-4354-9a1e-b1fec0e7d999",
  "versionCounter": 37,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-25T03:47:13.387Z",
      "createdAt": "2025-11-25T03:47:13.387Z",
      "role": "workflow:owner",
      "workflowId": "ob0wQC6ogWLN5iHi",
      "projectId": "2KiFcKNLK1JyaklJ",
      "project": {
        "updatedAt": "2025-07-05T04:35:03.731Z",
        "createdAt": "2025-07-05T04:34:00.267Z",
        "id": "2KiFcKNLK1JyaklJ",
        "name": "peter aistralis <peterjawel@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-07-05T04:34:00.267Z",
            "createdAt": "2025-07-05T04:34:00.267Z",
            "userId": "8790342e-b65e-4ef9-99ec-48a531aa0094",
            "projectId": "2KiFcKNLK1JyaklJ",
            "user": {
              "updatedAt": "2025-11-26T00:00:58.347Z",
              "createdAt": "2025-07-05T04:33:38.764Z",
              "id": "8790342e-b65e-4ef9-99ec-48a531aa0094",
              "email": "peterjawel@gmail.com",
              "firstName": "peter",
              "lastName": "aistralis",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-07-05T04:35:25.871Z",
                "personalization_survey_n8n_version": "1.100.1",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "FAkXhJwuAslD2JDu",
                "userActivatedAt": 1751716484498,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753381963375
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-25",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-07-05T05:27:25.021Z",
      "createdAt": "2025-07-05T05:27:25.021Z",
      "id": "94UYKbs3nzwYCJqO",
      "name": "YouTube"
    }
  ]
}