Parallelization_Sub
{
  "updatedAt": "2025-12-15T10:51:17.308Z",
  "createdAt": "2025-12-07T13:49:37.099Z",
  "id": "Ir2PQaIg7E3CoCwe",
  "name": "Parallelization_Sub",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=what is the capital of {{ $json.Name }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        16
      ],
      "id": "5df2c5b6-5119-4665-9e32-92574554beb9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        288,
        256
      ],
      "id": "bd3f8a7c-1be8-45e4-bcd9-819dcd881385",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "TVzP9p8nOtsqZFLa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -32,
        16
      ],
      "id": "f44e89a8-8e8f-401e-a48e-8c753d4420a7",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0c8b3920-de4f-4d52-b933-7961b1d38786",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        16
      ],
      "id": "6236ce26-5d17-4908-a02e-8575f065b059",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "row_number": 6,
          "Name": "Italy",
          "Capital": ""
        }
      }
    ]
  },
  "versionId": "2c3edd93-5240-4744-adf0-3312a9e0d62d",
  "versionCounter": 8,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-07T13:49:37.099Z",
      "createdAt": "2025-12-07T13:49:37.099Z",
      "role": "workflow:owner",
      "workflowId": "Ir2PQaIg7E3CoCwe",
      "projectId": "2KiFcKNLK1JyaklJ",
      "project": {
        "updatedAt": "2025-07-05T04:35:03.731Z",
        "createdAt": "2025-07-05T04:34:00.267Z",
        "id": "2KiFcKNLK1JyaklJ",
        "name": "peter aistralis <peterjawel@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-07-05T04:34:00.267Z",
            "createdAt": "2025-07-05T04:34:00.267Z",
            "userId": "8790342e-b65e-4ef9-99ec-48a531aa0094",
            "projectId": "2KiFcKNLK1JyaklJ",
            "user": {
              "updatedAt": "2025-12-16T00:00:43.253Z",
              "createdAt": "2025-07-05T04:33:38.764Z",
              "id": "8790342e-b65e-4ef9-99ec-48a531aa0094",
              "email": "peterjawel@gmail.com",
              "firstName": "peter",
              "lastName": "aistralis",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-07-05T04:35:25.871Z",
                "personalization_survey_n8n_version": "1.100.1",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "FAkXhJwuAslD2JDu",
                "userActivatedAt": 1751716484498,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753381963375
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-15",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-07-05T05:27:25.021Z",
      "createdAt": "2025-07-05T05:27:25.021Z",
      "id": "94UYKbs3nzwYCJqO",
      "name": "YouTube"
    }
  ]
}