Private Financial Assistant
{
  "updatedAt": "2025-11-26T13:30:00.938Z",
  "createdAt": "2025-11-14T10:10:30.304Z",
  "id": "szUDREfsQyI0SRBC",
  "name": "Private Financial Assistant",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -512,
        -96
      ],
      "id": "dc21d8b0-d3fb-43d7-a843-979f585d065a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9eb8a7cb-d37b-47e7-a230-77708cc7cd57",
              "name": "question",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        -96
      ],
      "id": "7ba2f828-4a9b-4683-9ce5-a479d2696c4b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.question }}",
        "options": {
          "systemMessage": "You are a helpful assistant and you analyze the incoming message.\n2 options: a request to update/delete/write to the database\nor a request to get information from the database.\nAnd you call the right tool\n\nIMPORTANT RULES:\n1. You MUST NOT split user input into multiple tool calls.\n2. Always call exactly ONE tool per user message.\n3. Forward the raw user message exactly as received.\n4. Do not interpret or break it into multiple events.\n5. Only the tool's workflow will perform any analysis.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -48,
        -96
      ],
      "id": "1c06c774-8452-4eb8-a79a-0459f9acd9d3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -80,
        208
      ],
      "id": "eafe6a95-91ae-42a5-b718-87c0d7d0a845",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "TVzP9p8nOtsqZFLa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "call this tool if something needs to be written or updated  to the database ",
        "workflowId": {
          "__rl": true,
          "value": "IgPl6godZmp2eO6t",
          "mode": "list",
          "cachedResultUrl": "/workflow/IgPl6godZmp2eO6t",
          "cachedResultName": "Incoming_PFA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        288,
        144
      ],
      "id": "fd66f054-1851-4ff3-91ba-212fd7dd94e7",
      "name": "Call 'Incoming_PFA'"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -592,
        128
      ],
      "id": "1901e772-930c-484e-9655-0a45f4fe49df",
      "name": "Telegram Trigger",
      "webhookId": "d1511059-2d4e-4d7c-b20c-b08852c21b0a",
      "credentials": {
        "telegramApi": {
          "id": "P9DL7o9ahJ273F89",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": "=5"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        80,
        160
      ],
      "id": "597221c3-50b4-4043-94f0-04e3fa762360",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        304,
        -96
      ],
      "id": "349632c2-d8d3-43ea-af20-0194e2676e31",
      "name": "Send a text message",
      "webhookId": "393a447e-f1da-4fdf-a9f2-e1b3756cd997",
      "credentials": {
        "telegramApi": {
          "id": "P9DL7o9ahJ273F89",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Incoming_PFA'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 181780530,
          "message": {
            "message_id": 2587,
            "from": {
              "id": 2034253630,
              "is_bot": false,
              "first_name": "Pisto",
              "last_name": "Pisto",
              "username": "peter_aurelius",
              "language_code": "en"
            },
            "chat": {
              "id": 2034253630,
              "first_name": "Pisto",
              "last_name": "Pisto",
              "username": "peter_aurelius",
              "type": "private"
            },
            "date": 1764162737,
            "text": "123"
          }
        }
      }
    ]
  },
  "versionId": "c00e1937-9049-4e1a-b8d4-40b3c132f399",
  "versionCounter": 54,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-14T10:10:30.304Z",
      "createdAt": "2025-11-14T10:10:30.304Z",
      "role": "workflow:owner",
      "workflowId": "szUDREfsQyI0SRBC",
      "projectId": "2KiFcKNLK1JyaklJ",
      "project": {
        "updatedAt": "2025-07-05T04:35:03.731Z",
        "createdAt": "2025-07-05T04:34:00.267Z",
        "id": "2KiFcKNLK1JyaklJ",
        "name": "peter aistralis <peterjawel@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-07-05T04:34:00.267Z",
            "createdAt": "2025-07-05T04:34:00.267Z",
            "userId": "8790342e-b65e-4ef9-99ec-48a531aa0094",
            "projectId": "2KiFcKNLK1JyaklJ",
            "user": {
              "updatedAt": "2025-11-27T00:00:39.309Z",
              "createdAt": "2025-07-05T04:33:38.764Z",
              "id": "8790342e-b65e-4ef9-99ec-48a531aa0094",
              "email": "peterjawel@gmail.com",
              "firstName": "peter",
              "lastName": "aistralis",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-07-05T04:35:25.871Z",
                "personalization_survey_n8n_version": "1.100.1",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "FAkXhJwuAslD2JDu",
                "userActivatedAt": 1751716484498,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753381963375
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-07-05T05:27:25.021Z",
      "createdAt": "2025-07-05T05:27:25.021Z",
      "id": "94UYKbs3nzwYCJqO",
      "name": "YouTube"
    }
  ]
}