Private Financial Assistant
{
  "updatedAt": "2025-11-30T14:20:01.215Z",
  "createdAt": "2025-11-14T10:10:30.304Z",
  "id": "szUDREfsQyI0SRBC",
  "name": "Private Financial Assistant",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9eb8a7cb-d37b-47e7-a230-77708cc7cd57",
              "name": "question",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        -96
      ],
      "id": "7ba2f828-4a9b-4683-9ce5-a479d2696c4b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.question }}",
        "options": {
          "systemMessage": "=Your job is to:\n\nRoute the user's message to the correct tool.\n\nWhen you receive a tool result:\n\nIf it comes from the Write tool → output exactly what the tool returned.\n\nIf it comes from the Retrieval tool → interpret the tool result and create the best possible natural-language answer.\n\nRULES:\n\nALWAYS call exactly one tool per user message.\n\nForward the raw user text exactly as received to the tool.\n\nDO NOT add instructions or modify the forwarded text.\n\nResponse rules:\n\nWrite tool → return raw output\n\nRetrieval tool → generate a helpful, natural-language answer based on the tool output"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        160,
        -96
      ],
      "id": "1c06c774-8452-4eb8-a79a-0459f9acd9d3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -80,
        176
      ],
      "id": "eafe6a95-91ae-42a5-b718-87c0d7d0a845",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "TVzP9p8nOtsqZFLa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "call this tool if something needs to be written or updated  to the database ",
        "workflowId": {
          "__rl": true,
          "value": "IgPl6godZmp2eO6t",
          "mode": "list",
          "cachedResultUrl": "/workflow/IgPl6godZmp2eO6t",
          "cachedResultName": "Incoming_PFA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        192,
        144
      ],
      "id": "fd66f054-1851-4ff3-91ba-212fd7dd94e7",
      "name": "Call 'Incoming_PFA'"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -448,
        -96
      ],
      "id": "1901e772-930c-484e-9655-0a45f4fe49df",
      "name": "Telegram Trigger",
      "webhookId": "d1511059-2d4e-4d7c-b20c-b08852c21b0a",
      "credentials": {
        "telegramApi": {
          "id": "P9DL7o9ahJ273F89",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": "=5"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        48,
        160
      ],
      "id": "597221c3-50b4-4043-94f0-04e3fa762360",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        512,
        -96
      ],
      "id": "349632c2-d8d3-43ea-af20-0194e2676e31",
      "name": "Send a text message",
      "webhookId": "393a447e-f1da-4fdf-a9f2-e1b3756cd997",
      "credentials": {
        "telegramApi": {
          "id": "P9DL7o9ahJ273F89",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this tool if the user wants to know data from the database.",
        "workflowId": {
          "__rl": true,
          "value": "XQIdg6eU1ro02cH4",
          "mode": "list",
          "cachedResultUrl": "/workflow/XQIdg6eU1ro02cH4",
          "cachedResultName": "Retrieval_PFA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        320,
        112
      ],
      "id": "58f1083e-a54a-4552-a058-5c5e43070028",
      "name": "Call 'Retrieval_PFA'"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.question }}",
        "options": {
          "systemMessage": "SPECIAL OUTPUT RULE:\nIf the tool you call returns a result (JSON or text), you MUST return that result directly to the user.\nYou must NOT forward the original user message in this case.\n\nYou are a routing classifier. Your ONLY job is to choose between two tools:\n1) incoming_write_tool  → for CREATE/UPDATE/DELETE\n2) retrieval_tool       → for reading/querying data\n\nRULES:\n- Output EXACTLY one tool call.\n- Forward the user message EXACTLY as received.\n- NEVER produce a normal assistant response.\n- NEVER split the message.\n\nDETECTION LOGIC:\n\nA. WRITE REQUESTS (use incoming_write_tool) ONLY IF:\n   - The user’s message is a pure instruction to store or modify data.\n     Examples:\n       “add this transaction”\n       “log that I spent 20 euros”\n       “update my budget to 10000”\n       “delete the transaction from yesterday”\n   - The message does NOT contain any question.\n   - The message’s primary purpose is clearly to store data.\n\nB. READ REQUESTS (use retrieval_tool):\n   - ANY message containing a question mark “?” ALWAYS counts as a read request.\n   - ANY message starting with “how”, “what”, “when”, “where”, “who”, “which”, \n     “how much”, “how many”, “show me”, “tell me”, “give me”, counts as a read request.\n   - If the user mentions facts (numbers, budgets, amounts, context) \n     BUT ALSO asks a question afterward → ALWAYS treat it as a READ.\n\n   Examples (these MUST be retrieval requests):\n     “my budget for today is 10000, how much more can I spend?”\n     “I spent 2000 yesterday, what’s my total for this week?”\n     “I bought beer earlier. How much did I spend on drinks overall?”\n     “2 days ago I spent 15000 at Starbucks. What category is that?”\n\nC. PRIORITY RULE (critical):\n   - If a message contains ANY question, even if the rest looks like data,\n     ALWAYS classify as retrieval_tool.\n\nD. Only classify as WRITE if:\n   - The message has NO question AND\n   - The ONLY possible intention is writing/updating.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -448,
        176
      ],
      "id": "4ffd3c77-df0e-459d-9b74-c9bb5310bead",
      "name": "AI Agent1"
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Incoming_PFA'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Call 'Retrieval_PFA'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 181780773,
          "message": {
            "message_id": 3074,
            "from": {
              "id": 2034253630,
              "is_bot": false,
              "first_name": "Pisto",
              "last_name": "Pisto",
              "username": "peter_aurelius",
              "language_code": "en"
            },
            "chat": {
              "id": 2034253630,
              "first_name": "Pisto",
              "last_name": "Pisto",
              "username": "peter_aurelius",
              "type": "private"
            },
            "date": 1764495565,
            "text": "yesterday I did drink 4 beers at bali social club"
          }
        }
      }
    ]
  },
  "versionId": "a9873e34-803f-4012-afb3-db6f946a5b4b",
  "versionCounter": 87,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-14T10:10:30.304Z",
      "createdAt": "2025-11-14T10:10:30.304Z",
      "role": "workflow:owner",
      "workflowId": "szUDREfsQyI0SRBC",
      "projectId": "2KiFcKNLK1JyaklJ",
      "project": {
        "updatedAt": "2025-07-05T04:35:03.731Z",
        "createdAt": "2025-07-05T04:34:00.267Z",
        "id": "2KiFcKNLK1JyaklJ",
        "name": "peter aistralis <peterjawel@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-07-05T04:34:00.267Z",
            "createdAt": "2025-07-05T04:34:00.267Z",
            "userId": "8790342e-b65e-4ef9-99ec-48a531aa0094",
            "projectId": "2KiFcKNLK1JyaklJ",
            "user": {
              "updatedAt": "2025-12-01T00:00:15.732Z",
              "createdAt": "2025-07-05T04:33:38.764Z",
              "id": "8790342e-b65e-4ef9-99ec-48a531aa0094",
              "email": "peterjawel@gmail.com",
              "firstName": "peter",
              "lastName": "aistralis",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-07-05T04:35:25.871Z",
                "personalization_survey_n8n_version": "1.100.1",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "FAkXhJwuAslD2JDu",
                "userActivatedAt": 1751716484498,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753381963375
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-30",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-07-05T05:27:25.021Z",
      "createdAt": "2025-07-05T05:27:25.021Z",
      "id": "94UYKbs3nzwYCJqO",
      "name": "YouTube"
    }
  ]
}