Proposal_Generator
{
  "updatedAt": "2025-12-18T15:40:44.673Z",
  "createdAt": "2025-12-18T07:08:42.857Z",
  "id": "jrHRA6w06ZVZSfCe",
  "name": "Proposal_Generator",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -496,
        0
      ],
      "id": "e55b873a-f76f-483d-a5a7-f89844af54d6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "simple": false,
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{{clientCompany}}\u000b",
              "replaceText": "Compnay xxx"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        432,
        0
      ],
      "id": "9e63f4d5-17d3-4916-a4fa-c46e26c2ff74",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "WHeRY1hw2tRHjuCJ",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1xUMxs1h8siCRTz1bR-mE7E00Ehdiqc5OHDEwA5VNqHQ",
          "mode": "list",
          "cachedResultName": "Proposal_Template",
          "cachedResultUrl": "https://docs.google.com/document/d/1xUMxs1h8siCRTz1bR-mE7E00Ehdiqc5OHDEwA5VNqHQ/edit?usp=drivesdk"
        },
        "name": "Proposal Aistralis - Company X",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        240,
        0
      ],
      "id": "dac3fe07-5d7b-4945-9d2f-9751784ac713",
      "name": "Copy file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VcFFZkWlXOO43tdB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.documentId }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "user",
            "emailAddress": "xxx@sss.com"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        656,
        0
      ],
      "id": "18898d98-0104-4a16-a3ce-a3726818a7fe",
      "name": "Share file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VcFFZkWlXOO43tdB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "event": "pagedUpdatedInDatabase",
        "databaseId": {
          "__rl": true,
          "value": "2c66c00e-9719-80d2-8b88-f2bb1caf0cba",
          "mode": "list",
          "cachedResultName": "Leads CRM",
          "cachedResultUrl": "https://www.notion.so/2c66c00e971980d28b88f2bb1caf0cba"
        }
      },
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        -144
      ],
      "id": "65f655e6-54ef-48af-86f9-67d5da989722",
      "name": "Notion Trigger",
      "credentials": {
        "notionApi": {
          "id": "AziN0Uk3Q10Fbsfr",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "50688563-5fda-4e6e-834a-3a6d7e60b0cf",
              "leftValue": "={{ $json['Proposal Status'] }}",
              "rightValue": "Ready for Proposal",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        -144
      ],
      "id": "29e95d19-35a6-48a9-a441-2d45ae42d0d4",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=",
        "options": {
          "systemMessage": "=You are a Senior Systems Architect. Your goal is to write a proposal that is blunt, professional, and data-driven.\n\n### INPUT DATA:\n- Pain Points: {{ $('Notion Trigger').item.json.Painpoints }}\n- Scraped Branding: {{ $json.results[0].raw_content }}\n- Situation: {{ $('Notion Trigger').item.json['Current Situation'] }}\n\n### STYLE RULES (CRITICAL):\n1. NO \"ADJECTIVE OVERLOAD\": Delete words like \"bespoke,\" \"meticulously,\" \"seamlessly,\" \"unparalleled,\" or \"transformative.\"\n2. NO FLUFF: Don't tell them what their own mission statement is. They know it. \n3. PUNCHY: Use short sentences. Use a \"Problem -> Impact -> Fix\" structure.\n4. BOLDING: Bold the most painful or valuable parts.\n\n### OUTPUT FORMAT:\nOutput ONLY raw JSON. No code blocks.\n\n{\n  \"strategic_hook\": \"A 1-sentence opening. No fluff. Just how the automation aligns with their current revenue goal.\",\n  \"pain_analysis\": \"A brutal 2-3 bullet point list of how their current situation is costing them money right now.\",\n  \"the_fix\": \"A 3-step 'Technical Execution' list. Mention n8n and the specific logic (e.g. 'Scrape -> Score -> Slack').\",\n  \"roi_statement\": \"A 1-sentence blunt closing on the expected result.\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -32,
        -208
      ],
      "id": "ab6d1127-c13b-4cd6-9c02-6b6458c18b41",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -400,
        64
      ],
      "id": "f9643655-dd3d-49b1-be2b-9464dda4a9e4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "TVzP9p8nOtsqZFLa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -304,
        160
      ],
      "id": "6816b930-c044-4622-9c71-74bbc1bc97d1",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "hxuUpUy1J8QhbA96",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/extract",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\": \"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\",\n  \"urls\": [\"https://www.aistralis.com\"],\n  \"extract_depth\": \"advanced\",\n  \"format\": \"markdown\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -176,
        -240
      ],
      "id": "9f357473-35ba-4669-af6b-2263f8ac0b02",
      "name": "HTTP Request"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        [
          {
            "node": "Share file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share file": {
      "main": [
        []
      ]
    },
    "Notion Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Notion Trigger": {
      "lastTimeChecked": "2025-12-18T15:41:00.000Z",
      "possibleDuplicates": [
        "2cd6c00e-9719-8093-ba6f-d6fb04c45b9e"
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Notion Trigger": [
      {
        "json": {
          "id": "2c86c00e-9719-81b1-9b0b-f9f8ce8372db",
          "Company": "Stripe",
          "First Name": "",
          "Goals": "10 qualified leads/month",
          "Total Setup Fee": [],
          "Proposal Status": "Draft",
          "Services": [],
          "Quality": "high",
          "Email": "jobs@stripe.com",
          "Funding": 9518159791,
          "Score": 87,
          "Employees": 8500,
          "LinkedIn ": null,
          "Painpoints": "they want a steady flow of leads which they dont have now",
          "Website": "http://www.stripe.com",
          "Current Situation": "relying only on onboud (webform and email)",
          "Industry": "information technology & services",
          "Last Name": "",
          "Source": "Form Website",
          "Name": "peter wettinck"
        }
      }
    ]
  },
  "versionId": "3e44851c-745b-4169-8f5a-2706bc5a52ec",
  "versionCounter": 32,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-18T07:08:42.857Z",
      "createdAt": "2025-12-18T07:08:42.857Z",
      "role": "workflow:owner",
      "workflowId": "jrHRA6w06ZVZSfCe",
      "projectId": "2KiFcKNLK1JyaklJ",
      "project": {
        "updatedAt": "2025-07-05T04:35:03.731Z",
        "createdAt": "2025-07-05T04:34:00.267Z",
        "id": "2KiFcKNLK1JyaklJ",
        "name": "peter aistralis <peterjawel@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-07-05T04:34:00.267Z",
            "createdAt": "2025-07-05T04:34:00.267Z",
            "userId": "8790342e-b65e-4ef9-99ec-48a531aa0094",
            "projectId": "2KiFcKNLK1JyaklJ",
            "user": {
              "updatedAt": "2025-12-19T00:00:05.708Z",
              "createdAt": "2025-07-05T04:33:38.764Z",
              "id": "8790342e-b65e-4ef9-99ec-48a531aa0094",
              "email": "peterjawel@gmail.com",
              "firstName": "peter",
              "lastName": "aistralis",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-07-05T04:35:25.871Z",
                "personalization_survey_n8n_version": "1.100.1",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "FAkXhJwuAslD2JDu",
                "userActivatedAt": 1751716484498,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753381963375
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-18",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-07-05T05:27:25.021Z",
      "createdAt": "2025-07-05T05:27:25.021Z",
      "id": "94UYKbs3nzwYCJqO",
      "name": "YouTube"
    }
  ]
}