qwertyuiop
[{"createdAt":"2025-11-04T02:11:31.647Z","updatedAt":"2025-11-04T02:12:35.288Z","id":"THjQ18vPAekMx567","name":"qwertyuiop","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-3504,480],"id":"0d77333d-7130-41ba-b64b-3949d71322c3","name":"When clicking ‘Test workflow’"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-3312,384],"id":"fba0af28-e4b4-4533-af64-cbb4a551d4a9","name":"n8n","credentials":{"n8nApi":{"id":"kAqvS1atuC8GNau2","name":"n8n account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a8195660-b59a-440c-8114-ff6377a536b0","leftValue":"={{ $json['N8N Url'] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2528,400],"id":"4adf7277-9178-43e1-a790-763a58f288c5","name":"Exist or not in Sheet"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"23044feb-1e63-4888-994c-f2a2248551fc","leftValue":"={{ $json['Last modified'] }}","rightValue":"={{ $('n8n').item.json.updatedAt }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2336,160],"id":"0d2608b0-f3fe-4405-9c95-ba361e62025e","name":"updated or not"},{"parameters":{"assignments":{"assignments":[{"id":"5d25bc78-5383-43fc-997a-6f110714385f","name":"ok","value":"okay","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-544,-160],"id":"5518888b-f421-458f-ade4-cfba28ad0287","name":"Edit Fields"},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $('Loop Over Items').item.json.id }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-2336,608],"id":"aa50c57e-ad80-4396-b89d-8c36bb5ef2a1","name":"n8n1","credentials":{"n8nApi":{"id":"kAqvS1atuC8GNau2","name":"n8n account"}}},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $('updated or not').item.json['N8N Url'] }}","mode":"url"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-1904,256],"id":"220376f0-3f80-4a2f-b559-9d720ecb91f8","name":"n8n2","credentials":{"n8nApi":{"id":"kAqvS1atuC8GNau2","name":"n8n account"}}},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2896,400],"id":"8177b539-ddaf-4f14-a536-5cac03bcb3b6","name":"Wait","webhookId":"4e6da3b8-0f5e-418c-9d2d-12d53e17bbcf"},{"parameters":{"rule":{"interval":[{"triggerAtHour":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3504,304],"id":"5e2e2497-35e2-4135-8d17-ccd07065fd2f","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"34775986-2867-4e53-b4b3-f6392d652107","name":"github","value":"={{ $json.content.html_url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1488,480],"id":"556cf7e5-30fd-45f7-aea5-cdbe8222be11","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"b187d35a-9ae3-46c9-bb08-bd3e07d9d0b8","name":"drive_id","value":"={{ $json.id }}","type":"string"},{"id":"09e140c2-9de6-4ede-b9e0-15689f941e1f","name":"createdAt","value":"={{ $('Code').item.json.createdAt }}","type":"string"},{"id":"eb108deb-01c6-4d70-9448-c093867d42f1","name":"updatedAt","value":"={{ $('Code').item.json.updatedAt }}","type":"string"},{"id":"5dffcc1f-5136-4ae0-826b-b8d73dc56e18","name":"n8n_id","value":"={{ $('Code').item.json.id }}","type":"string"},{"id":"e76b5251-6955-4f7a-a986-35dae2912e2e","name":"name","value":"={{ $('Code').item.json.name }}","type":"string"},{"id":"c537c5d0-8d23-41a9-975b-81296ac030a6","name":"tag","value":"={{ $('Code').item.json.shared[0].project.projectRelations[0].user.personalizationAnswers.reportedSource }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1504,752],"id":"23469ec3-e909-43ee-98f2-08af4479c741","name":"Edit Fields2"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1280,592],"id":"e37dd0af-c3fd-493e-8e65-b9fedc814fa8","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"b7c6c7d4-ac5d-4964-9a33-d792393ef210","name":"github","value":"={{ $json.data[0].github }}","type":"string"},{"id":"b2c60222-d8ef-4753-b4a6-97ee1d55b6ab","name":"data[1].drive_id","value":"={{ $json.data[1].drive_id }}","type":"string"},{"id":"1c699d7d-6c69-4b92-a664-084513dfc879","name":"data[1].createdAt","value":"={{ $json.data[1].createdAt }}","type":"string"},{"id":"69b38d9f-7ddd-40ef-a391-ce44cb480055","name":"data[1].updatedAt","value":"={{ $json.data[1].updatedAt }}","type":"string"},{"id":"6000cea5-f98c-4d75-9d38-e09d104bafb2","name":"data[1].n8n_id","value":"={{ $json.data[1].n8n_id }}","type":"string"},{"id":"f7d93c15-f265-4ce5-96ff-1bdc1818c166","name":"data[1].name","value":"={{ $json.data[1].name }}","type":"string"},{"id":"09d3b016-c290-4b09-aba1-5f6db4fd61a7","name":"data[1].tag","value":"={{ $json.data[1].tag }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-896,592],"id":"f4b22b00-8bd5-4b75-9edd-4127e64b2caf","name":"Edit Fields3"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1088,592],"id":"f60a5113-3b93-446b-bd68-8b086c7fdd26","name":"Aggregate"},{"parameters":{"documentId":{"__rl":true,"value":"1eiKcnWhkZmTJbhvvtLHhp9D3CCtTW3_awRTBTNy2ByQ","mode":"list","cachedResultName":"Backups","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eiKcnWhkZmTJbhvvtLHhp9D3CCtTW3_awRTBTNy2ByQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eiKcnWhkZmTJbhvvtLHhp9D3CCtTW3_awRTBTNy2ByQ/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Title","lookupValue":"={{ $json.name }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2704,400],"id":"844b5df9-f152-4f99-8119-1815ca26b276","name":"Get row(s) in sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"XkUcr0YLOP2CkVg1","name":"Google Sheets account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"=https://github.com/Peter-Aistralis/","mode":"url"},"repository":{"__rl":true,"value":"={{ $('n8n1').item.json.tags[0].name }}","mode":"name"},"filePath":"={{ $('n8n1').item.json.name }}","binaryData":true,"commitMessage":"first commit"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-1936,480],"id":"82ebaf6d-c26e-478b-9e4c-f2796b7e5525","name":"Create a file","webhookId":"16e5f2e5-4072-4f0a-b013-a1d2b5e9b390","credentials":{"githubApi":{"id":"RTpLjX5nT9JPuB8K","name":"GitHub account"}}},{"parameters":{"name":"={{ $json.name }}","driveId":{"__rl":true,"value":"1HmBSAtGgcZLSbO2BxikQbvbzAcZzY7u9","mode":"id"},"folderId":{"__rl":true,"value":"https://drive.google.com/drive/u/0/folders/1SDMuJ-oFxW1laCNTpvFMb2t5Gd2ofLhnhttps://drive.google.com/drive/u/0/folders/1SDMuJ-oFxW1laCNTpvFMb2t5Gd2ofLhn","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1936,752],"id":"07bf544e-3b9b-43ba-960b-56df019acbf8","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"VcFFZkWlXOO43tdB","name":"Google Drive account"}}},{"parameters":{"name":"={{ $('n8n2').item.json.name }}","driveId":{"__rl":true,"value":"1HmBSAtGgcZLSbO2BxikQbvbzAcZzY7u9","mode":"id"},"folderId":{"__rl":true,"value":"https://drive.google.com/drive/u/0/folders/1SDMuJ-oFxW1laCNTpvFMb2t5Gd2ofLhnhttps://drive.google.com/drive/u/0/folders/1SDMuJ-oFxW1laCNTpvFMb2t5Gd2ofLhn","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1280,320],"id":"7a2fa733-1f4e-48e0-970e-4dd8ab299c2e","name":"Upload file1","credentials":{"googleDriveOAuth2Api":{"id":"VcFFZkWlXOO43tdB","name":"Google Drive account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/Peter-Aistralis","mode":"url"},"repository":{"__rl":true,"value":"={{ $('Exist or not in Sheet').first()\n.json.Tag }}","mode":"name"},"filePath":"={{ $('n8n2').first().json.name }}","binaryData":true,"commitMessage":"Change commit by Peter"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-1280,144],"id":"eb18f631-53eb-42be-8249-64ccfc7cbb08","name":"Edit a file","webhookId":"6d34e561-d4d8-45ad-bad5-b38b775c223d","credentials":{"githubApi":{"id":"RTpLjX5nT9JPuB8K","name":"GitHub account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1eiKcnWhkZmTJbhvvtLHhp9D3CCtTW3_awRTBTNy2ByQ","mode":"list","cachedResultName":"Backups","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eiKcnWhkZmTJbhvvtLHhp9D3CCtTW3_awRTBTNy2ByQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eiKcnWhkZmTJbhvvtLHhp9D3CCtTW3_awRTBTNy2ByQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Title":"={{ $('n8n2').item.json.name }}","Last modified":"={{ $('n8n2').item.json.updatedAt }}","Shared Url":"=https://drive.google.com/file/d/{{ $json.id }}"},"matchingColumns":["Title"],"schema":[{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Tag","displayName":"Tag","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date Created","displayName":"Date Created","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last modified","displayName":"Last modified","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"N8N Url","displayName":"N8N Url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Github Url","displayName":"Github Url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Shared Url","displayName":"Shared Url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-896,320],"id":"ea1d3cce-0004-43ff-b45d-57d9b009f3f5","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"XkUcr0YLOP2CkVg1","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1eiKcnWhkZmTJbhvvtLHhp9D3CCtTW3_awRTBTNy2ByQ","mode":"list","cachedResultName":"Backups","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eiKcnWhkZmTJbhvvtLHhp9D3CCtTW3_awRTBTNy2ByQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eiKcnWhkZmTJbhvvtLHhp9D3CCtTW3_awRTBTNy2ByQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Title":"={{ $json.data[1].name }}","Date Created":"={{ $json.data[1].createdAt }}","Last modified":"={{ $json.data[1].updatedAt }}","N8N Url":"=https://workflows.zeriobox.com/workflow/{{ $json.data[1].n8n_id }}","Tag":"={{ $('n8n1').item.json.tags[0].name }}","Github Url":"={{ $json.github }}","Shared Url":"=https://drive.google.com/file/d/{{ $json.data[1].drive_id }}"},"matchingColumns":[],"schema":[{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tag","displayName":"Tag","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date Created","displayName":"Date Created","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last modified","displayName":"Last modified","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"N8N Url","displayName":"N8N Url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Github Url","displayName":"Github Url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Shared Url","displayName":"Shared Url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-720,592],"id":"a81a297f-95cd-4ddb-9b52-626f56bef185","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"XkUcr0YLOP2CkVg1","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-3120,384],"id":"009f9bd5-5fbc-481b-9fd8-e1a12814fcce","name":"Loop Over Items"},{"parameters":{"amount":0.5},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1088,320],"id":"dd5ca90d-6a8d-4494-9a30-30aaa031a00c","name":"Wait1","webhookId":"801c9260-f7a8-4b73-afba-6a8c61e280a1"},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"value":"={{ $json['Shared Url'] }}","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2128,256],"id":"05b4062a-064f-4005-b459-86dc2964bf78","name":"Delete a file","credentials":{"googleDriveOAuth2Api":{"id":"VcFFZkWlXOO43tdB","name":"Google Drive account"}}},{"parameters":{"jsCode":"const jsonString = JSON.stringify(items[0].json, null, 2); // keeps indentation\nconst dataBuffer = Buffer.from(jsonString);\n\nreturn [\n  {\n    binary: {\n      data: {\n        data: dataBuffer.toString('base64'),\n        fileName: 'workflow.json',\n        mimeType: 'application/json',\n      },\n    },\n    json: {}, // optional, can include metadata\n  },\n];\n"},"id":"fc5e0d19-80ba-4cb9-972b-f8e20880c820","name":"Code6","type":"n8n-nodes-base.code","position":[-1584,176],"typeVersion":2},{"parameters":{"operation":"toJson","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-2144,480],"id":"58fc4ef3-77cf-4202-b93f-c03c813658db","name":"Convert to File2"},{"parameters":{"operation":"toJson","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-2128,752],"id":"b070d3da-46da-42d7-b3ca-218da08b0d81","name":"Convert to File3"},{"parameters":{"jsCode":"return items.map(item => {\n  const jsonData = JSON.stringify(item.json);\n  const binaryData = Buffer.from(jsonData).toString('base64');\n  item.binary = {\n    data: {\n      data: binaryData,\n      mimeType: 'application/json',\n      fileName: 'data.json'\n    }\n  };\n  return item;\n});"},"id":"374e2e2e-3ccb-4827-be3c-aac52bfde03c","name":"Code2","type":"n8n-nodes-base.code","position":[-2720,128],"typeVersion":2},{"parameters":{"jsCode":"return items.map(item => {\n  const jsonData = JSON.stringify(item.json);\n  const binaryData = Buffer.from(jsonData).toString('base64');\n  item.binary = {\n    data: {\n      data: binaryData,\n      mimeType: 'application/json',\n      fileName: 'data.json'\n    }\n  };\n  return item;\n});"},"id":"66e96de1-ee70-4498-a53d-32a0da65302e","name":"Code","type":"n8n-nodes-base.code","position":[-1696,384],"typeVersion":2}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"n8n","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Exist or not in Sheet":{"main":[[{"node":"updated or not","type":"main","index":0}],[{"node":"n8n1","type":"main","index":0}]]},"updated or not":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Delete a file","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"n8n1":{"main":[[{"node":"Convert to File2","type":"main","index":0},{"node":"Convert to File3","type":"main","index":0}]]},"n8n2":{"main":[[{"node":"Code","type":"main","index":0},{"node":"Code6","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Exist or not in Sheet","type":"main","index":0}]]},"Create a file":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Upload file1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Edit a file":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Wait","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Delete a file":{"main":[[{"node":"n8n2","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"Create a file","type":"main","index":0}]]},"Convert to File3":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Code":{"main":[[{"node":"Upload file1","type":"main","index":0}]]},"Code6":{"main":[[{"node":"Edit a file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"9ad26473-06a3-460f-ba30-34bfb29c132b","triggerCount":0,"shared":[{"createdAt":"2025-11-04T02:11:31.647Z","updatedAt":"2025-11-04T02:11:31.647Z","role":"workflow:owner","workflowId":"THjQ18vPAekMx567","projectId":"2KiFcKNLK1JyaklJ","project":{"createdAt":"2025-07-05T04:34:00.267Z","updatedAt":"2025-07-05T04:35:03.731Z","id":"2KiFcKNLK1JyaklJ","name":"peter aistralis <peterjawel@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-07-05T04:34:00.267Z","updatedAt":"2025-07-05T04:34:00.267Z","role":"project:personalOwner","userId":"8790342e-b65e-4ef9-99ec-48a531aa0094","projectId":"2KiFcKNLK1JyaklJ","user":{"createdAt":"2025-07-05T04:33:38.764Z","updatedAt":"2025-11-04T00:00:27.119Z","id":"8790342e-b65e-4ef9-99ec-48a531aa0094","email":"peterjawel@gmail.com","firstName":"peter","lastName":"aistralis","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-05T04:35:25.871Z","personalization_survey_n8n_version":"1.100.1","companySize":"<20","companyType":"saas","role":"business-owner","reportedSource":"youtube"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"FAkXhJwuAslD2JDu","userActivatedAt":1751716484498,"npsSurvey":{"responded":true,"lastShownAt":1753381963375}},"role":"global:owner","disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-03","isPending":false}}]}}],"tags":[{"createdAt":"2025-07-05T05:27:25.021Z","updatedAt":"2025-07-05T05:27:25.021Z","id":"94UYKbs3nzwYCJqO","name":"YouTube"}]}]